<div class="container-fluid bg-success">
    <nav class="navbar navbar-expand-xl custom-navbar navbar-light " >
       
       

        <div class="div_logo" style="align-content: center;padding-left: 13pc;" >
            <a href="/">
                <img src="/pakola-logo_120x.avif" alt="Pakola Logo" class="logo-img" style="align-items: center;">
            </a>
        </div>
        <button class="navbar-toggler btn-outline-success" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        <div class="collapse navbar-collapse" id="navbarNav"style="align-items:center">
        <ul class="navbar-nav" style="margin-left: 20px;">
        <li class="lists" style=" padding: 20px;"><a href="/" style="color:white;">Home</a></li>
        <li class="lists" style="padding: 20px;"><a href="/admin/products"  style="color:white;">Products</a></li>
        <li class="lists" style="padding: 20px;"><a href="/admin/category" style="color:white;">Categories</a></li>
        <li class="lists" style="padding: 20px;"><a href="/logout" style="color:white;">Logout</a></li>

        
        

       </ul>
    </div>
</nav>
    
</div>