<div class="container text-center mt-5">
    <h3><%= message %></h3>
    <p>Thank you for shopping with us! Your order is being processed.</p>
    <a href="/" class="btn btn-primary mt-3">Go to Home</a>
</div>