
<% if (messages && messages.success) { %>
    <div style="color: green;">
      <%= messages.success %>
    </div>
  <% } %>

  <% if (messages && messages.error) { %>
    <div style="color: red;">
      <%= messages.error %>
    </div>
  <% } %>

<form action="" method="post">
    
    <div class="form-group">
        <label for="">Email</label>
        <input type="text" class="form-control" name="email" value="usman.akram@gmail.com"/>
    </div>
    <div class="form-group">
        <label for="">Password</label>
        <input type="password" class="form-control" name="password" value="usman"/>
    </div>
    <button type="submit" class="btn btn-info">Login</button>
</form>